@charset "utf-8";
/* css */

.top {
  background-attachment: fixed;
  padding: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* media */

@media only screen and (min-width: 1200px) {
 
  section:nth-child(2n + 1) {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
  }
  section:nth-child(2n + 2) {
    position: relative;
    height: auto;
    display: flex;
  }
  .stick {
    position: sticky;
    top: 0;
    min-width: 50%;
    height: 100vh;
  }
  .stick img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
  }
  section:nth-child(2n + 1) .content {
    padding: 150px 100px 150px 2rem;
    text-align: left;
  }
  section:nth-child(2n + 2) .content {
    padding: 150px 2rem 150px 100px;
    text-align: right;
  }
  .content p {
    font-size: xx-large;
    margin: 0;
  }
}

@media only screen and (max-width: 1200px) {
  
  .top {
    background-attachment: revert;
    padding: 13%;
  }
  .stick {
    text-align: center;
  }
  .stick img {
    width: 40%;
    padding: 5%;
  }
  .content p {
    text-align: center;
    padding: 2em;
    margin: 0;
  }
}
